.full_menu{
	&__block{
		font-size: 15px;
		display: inline-block;
		width: 140px;
		margin-right: 20px;
		vertical-align: top;
	}
	&__items{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__item{
		margin-bottom: 5px;
	}
	&__title{
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 5px;
	}
}