@import 'settings';
.page_footer{
	min-height: 230px;
	background: $color-violet url('../img/footer-bg.png');
	color: #fff;

	&__logo{
		position: absolute;
		left: 0;
		top: 95px;
	}
	&__menu{
		display: table;
		margin: auto;
		margin-top: 50px;
	}
	&__apps{
		position: absolute;
		right: 0;
		top: 70px;
	}
	&__socials{
		position: absolute;
		top: 130px;
		right: 45px;
	}
}
@import 'blocks/full_menu';
@import 'blocks/app_list';