$bg-color: #eff3f7;
$general-color: #3ba8c0;
$text-color: #4a545d;

$color-extradark: #3ba8c0;
$color-dark: #41b9d4;
$color-normal: #48cbe8;
$color-light: #51daf8;
$color-extralight: #edf8fc;

$color-darkgrey: #58697a;
$color-grey: #959aa8;
$color-lightgrey: #eff3f7;

$color-error: #f97e76;
$color-errorlight: #fad2d1;

$size-footer: 80px;